/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  background-color: #202124;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
}

/* Wrapper Styles */
.wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Title Styles */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
  transition: color 0.2s ease-in-out;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.title:hover {
  color: #7f00ff;
}

/* Wrapper-1 and -2 Styles */

.wrapper-1,
.wrapper-2 {
  padding: 20px;
  margin: 20px;
  border-radius: 10% 25%;
  transition: color 0.2s ease-in-out;
  border: 4px solid #fff;
}

.wrapper-1:hover,
.wrapper-2:hover,
.title-signin:hover,
.title-signup:hover {
  color: #f16797;
  border-color: #7f00ff;
}

.wrapper-1,
.wrapper-2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title-signup,
.title-signin {
  font-size: 24px;
  margin-right: 20px;
}

.form-signup,
.form-signin {
  margin-top: 45px;
  margin-left: 10px;
}

.signup input,
.signin input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  font-family: "Courier New", Courier, monospace;
}

.signin input::placeholder,
.signup input::placeholder {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
}

.signup button,
.signin button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  background-color: #7f00ff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-family: "Courier New", Courier, monospace;
}

.signup button:hover,
.signin button:hover {
  background-color: #6000a6;
}

.message {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 30px;
  transition: color 0.2s ease-in-out;
}

.message:hover {
  color: #eb2a84;
}